.home-container{
   height:100vh;
}
.banner{
    width: 100%;
    padding-top: 25%;
}
.img-banner{
    margin-left: auto;
    margin-right: auto;
}
.content{
    text-align: center
}
.description{
    font-weight: 400;
    font-size: 12px;
    line-height: 16.7px;
    letter-spacing: 6%;
    text-align: center;
}

.button-getStarted{
    display: block;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 80%;
    padding-top:17px;
    padding-bottom:17px;
    height: 2%;
    font-size:16px;
    margin: 20% 10% 0 10%;
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to left, #D8605B 0%, #F4C27F 120%);
}
.arrow-right{
    margin-left: 2%;
}
